.ins-cursor-move canvas {
    cursor: move !important;
}

.ins-cursor-rotate canvas {
    cursor: ew-resize !important;
}

.ins-cursor-scale canvas {
    cursor: nwse-resize !important;
}

.ins-container {
    position: fixed;
    overflow: auto;
    width: 220px;
    height: 98%;
    left: 0;
    background: #3d3d3d;
    padding: 1% 20px;
    font-family: Arial;
    font-size: 12px;
    color: #aaa;
}

.ins-world-tree {
    overflow: auto;
    position: absolute;
    left: -17px;
    right: 0px;
    top: 92px;
    bottom: 8px;
}

.ins-control-group {
    display: block;
    clear: both;
    overflow: hidden;
}

.ins-button {
    display: block;
    float: left;
    margin: 20px 0 20px 10px;
    padding: 10px;
    background: #3a3a3a;
    border: 0;
    color: #ddd;
}

.jstree-default .jstree-wholerow-hovered,
.jstree-default .jstree-hovered {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.jstree-default .jstree-wholerow {
    height: 26px;
}

.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-clicked {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}

.jstree-default .jstree-open > .jstree-children > .jstree-node > .jstree-anchor:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 2px;
    height: 26px;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border-right: none;
}

.jstree-anchor.jstree-clicked:before {
    background: #373737 !important;
}

.jstree-node-type-body > .jstree-anchor:before {
    border-right: 3px solid #e1115f !important;
}

.jstree-node-type-constraint > .jstree-anchor:before {
    border-right: 3px solid #1ed36f !important;
}

.jstree-node-type-composite > .jstree-anchor:before {
    border-right: 3px solid #2fa1d6 !important;
}

.jstree-default .jstree-node,
.jstree-default .jstree-leaf .jstree-ocl {
  background: transparent;
}
.jstree-default .jstree-open .jstree-ocl {
  background-position: -36px -4px;
}
.jstree-default .jstree-closed .jstree-ocl {
  background-position: -4px -4px;
}

.jstree-anchor {
    padding: 1px 0;
    transition: none;
}

.jstree-anchor .jstree-icon {
    display: none;
}

.jstree-node-type-bodies > .jstree-anchor,
.jstree-node-type-constraints > .jstree-anchor,
.jstree-node-type-composites > .jstree-anchor {
    color: #888;
    font-weight: bold;
}

.ins-container *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.ins-container *::-webkit-scrollbar-thumb:vertical {
    border-left: 5px solid rgba(0,0,0,0.2);
    width: 6px;
}

.ins-container *::-webkit-scrollbar-thumb:horizontal {
    border-top: 5px solid rgba(0,0,0,0.2);
    height: 6px;
}

.ins-container *::-webkit-scrollbar-track,
.ins-container *::-webkit-scrollbar-corner {
    background: transparent;
}

#vakata-dnd {
    font-family: Arial;
    font-size: 12px;
    color: #aaa;
}