/*
*   Shared
*/

.ins-container,
.jstree,
body .dg .c,
body .dg .cr.function,
body .dg .c select,
body .dg .property-name,
body .dg .title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
*	Matter.Gui
*/

body .dg.main {
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

@media only screen and (max-width : 1350px) {
    body.gui-auto-hide .dg.ac {
        right: -233px;
    }

    body .dg.ac:hover,
    body.gui-show .dg.ac {
        right: 0px;
    }

    body.gui-auto-hide.gui-transitions .dg.ac {
        -webkit-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
           -moz-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
             -o-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
                transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);

        -webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
           -moz-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
             -o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
                transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);
        
        transition-delay: 3s;
        -webkit-transition-delay: 3s;
    }

    body.gui-transitions .dg.ac:hover,
    body.gui-show.gui-transitions .dg.ac {
        -webkit-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
           -moz-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
             -o-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
                transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);

        -webkit-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
           -moz-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
             -o-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
                transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);

        transition-delay: 0;
        -webkit-transition-delay: 0;
    }
}

body .dg.main.taller-than-window .close-button {
    border-top: 1px solid #444;
    border-right: 4px solid #444;
}

body .dg.main .close-button {
    background-color: #444;
}
 
body .dg.main .close-button:hover {
    background-color: #555;
}

body .dg.main::-webkit-scrollbar {
    background: #3d3d3d;
    width: 9px;
}

body .dg.main::-webkit-scrollbar-thumb {
    background: transparent;
    width: 5px;
    border-left: 5px solid #3d3d3d;
    border-right: 6px solid rgba(0,0,0,0.2);
    border-radius: 0;
}
 
body .dg {
    color: #aaa;
    text-shadow: none !important;
}

body .dg li:not(.folder) {
    background: #3d3d3d;
    border-bottom: 0px;
    padding: 0 0 0 12px;
}
 
body .dg li.save-row .button {
    text-shadow: none !important;
}

body .dg li.title {
    padding-left: 22px;
    border-bottom: 1px solid #555;
    background: #444 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 10px 10px no-repeat;
}

body .dg .cr.boolean:hover {
    background: #3d3d3d;
}

body .dg .cr.function {
    border-top: 1px solid #444;
    background: #333;
    color: #aaa;
    border-bottom: 1px solid #333;
}

body .dg .cr.function:hover {
    background: #3a3a3a;
    border-bottom: 1px solid #2fa1d6;
}

body .dg .cr.function:active {
    border-top: 2px solid #444;
    border-bottom: 0;
    background: #2e2e2e;
}

body .dg .c select {
    margin-top: 2px;
    margin-left: -5px;
    padding: 3px 5px;
}

body .dg .c select,
body .dg .c input[type=text],
body .dg .cr.number input[type=text] {
    background: #333;
    color: #999;
    border: 0;
    font-size: 10px;
}

body .dg .c select,
body .dg .c select:focus {
    width: 88px;
    outline: 0;
}
 
body .dg .c input[type=text]:hover {
    background: #444;
}
 
body .dg .c input[type=text]:focus {
    background: #444;
    color: #fff;
}
 
body .dg .c .slider {
    background: #555;
}

body .dg .c .slider:hover {
    background: #666;
}

body .dg .c .slider-fg {
    background: #777;
}

body .dg .c .slider:hover .slider-fg {
    background: #999;
}

body .dg li.folder {
    border-left: 0;
}

body .dg.a {
    border-right:4px solid #3d3d3d;
}

/*
*	Matter.Inspector
*/

.ins-cursor-move canvas {
    cursor: move !important;
}

.ins-cursor-rotate canvas {
    cursor: ew-resize !important;
}

.ins-cursor-scale canvas {
    cursor: nwse-resize !important;
}

.ins-container {
    position: fixed;
    overflow: auto;
    width: 260px;
    bottom: 0;
    top: 0;
    left: 0;
    background: #3d3d3d;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
    color: #aaa;
    border-right: 2px solid #3d3d3d;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

@media only screen and (max-width : 1350px) {
    .ins-auto-hide .ins-container {
        left: -245px;
        border-right: 1px dotted #888;
    }

    .ins-container:hover,
    .ins-show .ins-container {
        left: 0px;
        border-right: 0px dotted #888;
    }

    .ins-transitions .ins-container {
        -webkit-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
           -moz-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
             -o-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
                transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);

        -webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
           -moz-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
             -o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
                transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);

        transition-delay: 3s;
        -webkit-transition-delay: 3s;
    }

    .ins-transitions .ins-container:hover,
    .ins-transitions.ins-show .ins-container {
        -webkit-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
           -moz-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
             -o-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
                transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);

        -webkit-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
           -moz-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
             -o-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
                transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);

        transition-delay: 0;
        -webkit-transition-delay: 0;
    }
}

.ins-add-button.ins-button {
    float: right;
    width: auto;
    height: auto;
    padding: 2px 5px;
    margin: 2px 29px;
    min-width: 0;
    position: relative;
    z-index: 100;
}

.ins-search-box {
    margin: 14px 23px;
    border: 0;
    padding: 7px 8px;
    font-size: 12px;
    width: 80%;
    box-sizing: border-box;
    border-radius: 3px;
    background: #444;
    border: 1px solid #444;
    color: #999;
}

.ins-search-box:focus {
    background: #484848;
    color: #aaa;
    border: 1px solid rgba(255,255,255,0.1);
    outline: 0;
}

.ins-search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 15px;
    width: 8px;
    cursor: pointer;
}

.ins-search-box::-webkit-search-cancel-button:before {
    height: 10px;
    width: 10px;
    content: 'x';
    font-family: Arial;
    line-height: 0;
    font-size: 13px;
    color: #999;
    font-weight: bold;
    cursor: pointer;
}

.ins-search-box::-webkit-input-placeholder {
    color: #777;
}

.ins-search-box:-moz-placeholder {
    color: #777;
}

.ins-search-box::-moz-placeholder {
    color: #777;
}

.ins-search-box:-ms-input-placeholder {  
    color: #777;
}

.ins-world-tree {
    overflow: auto;
    position: absolute;
    left: -24px;
    right: 0px;
    top: 110px;
    bottom: 8px;
}

.ins-control-group {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 14px 20px 12px 20px;
    background: #444;
    border-bottom: 1px solid #555;
}

.ins-button {
    display: block;
    float: left;
    margin: 0 2px;
    font-size: 11px;
    line-height: 1;
    padding: 6px 8px;
    min-width: 49px;
    text-align: center;
    background: #333;
    border: 0;
    color: #aaa;
    border-radius: 2px;
    border-bottom: 2px solid #2e2e2e;
    box-sizing: border-box;
    outline: none;
}

.ins-button:hover {
    background: #3a3a3a;
    border-bottom: 2px solid #2fa1d6;
}

.ins-button:active {
    border-top: 2px solid #444;
    border-bottom: 0;
    background: #2e2e2e;
}

.jstree-default .jstree-search {
    font-style: italic;
    color: #aaa;
    font-weight: normal;
}

.jstree-default .jstree-wholerow-hovered,
.jstree-default .jstree-hovered {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.jstree-default .jstree-wholerow {
    height: 26px;
}

.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-clicked {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}

.jstree-default .jstree-leaf .jstree-clicked {
    color: #bbb !important;

    -webkit-transition: color 100ms linear; 
       -moz-transition: color 100ms linear; 
         -o-transition: color 100ms linear; 
            transition: color 100ms linear; 
}

.jstree-default .jstree-container-ul> .jstree-node > .jstree-anchor:before,
.jstree-default .jstree-open > .jstree-children > .jstree-node > .jstree-anchor:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 1px;
    height: 26px;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border-right: none;
    pointer-events: none;
    background: rgba(0,0,0,0);

    -webkit-transition: background 100ms linear; 
       -moz-transition: background 100ms linear; 
         -o-transition: background 100ms linear; 
            transition: background 100ms linear; 
}

.jstree-default .jstree-anchor.jstree-clicked:before {
    background: rgba(0,0,0,0.1) !important;

    -webkit-transition: background 100ms linear; 
       -moz-transition: background 100ms linear; 
         -o-transition: background 100ms linear; 
            transition: background 100ms linear; 
}

.jstree-default .jstree-node-type-body > .jstree-anchor:before {
    border-right: 3px solid #e1115f !important;
}

.jstree-default .jstree-node-type-constraint > .jstree-anchor:before {
    border-right: 3px solid #1ed36f !important;
}

.jstree-default .jstree-node-type-composite > .jstree-anchor:before {
    border-right: 3px solid #2fa1d6 !important;
}

.jstree-default .jstree-node,
.jstree-default .jstree-leaf .jstree-ocl {
  background: transparent;
}
.jstree-default .jstree-open .jstree-ocl {
  background-position: -36px -4px;
}
.jstree-default .jstree-closed .jstree-ocl {
  background-position: -4px -4px;
}

.jstree-anchor {
    padding: 1px 0;
    transition: none;
}

.jstree-anchor .jstree-icon {
    display: none;
}

.jstree-node-type-bodies > .jstree-anchor,
.jstree-node-type-constraints > .jstree-anchor,
.jstree-node-type-composites > .jstree-anchor {
    color: #888;
    font-weight: bold;
}

.ins-container *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.ins-container *::-webkit-scrollbar-thumb:vertical {
    border-left: 3px solid #3d3d3d;
    background: rgba(0,0,0,0.2);
    width: 10px;
}

.ins-container *::-webkit-scrollbar-thumb:horizontal {
    border-top: 3px solid #3d3d3d;
    background: rgba(0,0,0,0.2);
    height: 10px;
}

.ins-container *::-webkit-scrollbar-track,
.ins-container *::-webkit-scrollbar-corner {
    background: transparent;
}

#vakata-dnd {
    font-family: Arial;
    font-size: 12px;
    color: #aaa;
}